h1{
    color: blueviolet;
    font-style: bold;
    text-align: center;
}
h2{
    color: blue;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p{
    color: green;
    font-style: bold;
    font-family: serif;
}